body {
background-color: rgb(210, 216, 223);
}
.container {
    max-width: 600px;
    box-shadow:2 4 3 rgba(0, 0, 0, .5) ;
}

.btn {
    background-color: #4a278a;
    color: beige;
    outline: none i !important;
    box-shadow: none i !important;
}
.btn:hover {
    outline: none i !important;
    background-color: rgba(202, 21, 21, 0.692);
    translate: 2px;
    color: aliceblue;
    font-size: 20px;
    box-shadow: 2 4 3 rgba(0, 0, 0, .5)
}